<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>PayPaul | Payment Notification hinzufügen</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/newPaymentNotification.css}">

    <script type="text/javascript" th:src="@{/js/newPaymentNotification.js}"></script>
    <script type="text/javascript" th:src="@{/js/toast.js}"></script>
</head>
    <body>
        <div class="sidenav">
            <div class="brand_logo_container">
                <img src="../static/img/PayPaulLogo.jpg" th:src="@{/img/PayPaulLogo.jpg}" class="brand_logo" alt="Logo">
            </div>
            <a class="menu-link" th:href="@{/transactions}">Transaktionen</a>
            <a class="menu-link" th:href="@{/paymentMethods}">Zahlungsmethoden</a>
            <a class="menu-link active-view" th:href="@{/paymentNotifications}">Payment Notifications</a>
            <a class="menu-link" th:href="@{/sendMoney}">Geld senden</a>
            <a class="menu-link" th:href="@{/chargeCredit}">Guthaben aufladen</a>
            <a th:href="@{/logout}" class="logout-link menu-link">Ausloggen</a>
        </div>
        <div class="main-content">
            <!--/*@thymesVar id="paymentNotification" type="de.oth.PayPaul.persistence.model.PaymentNotification"*/-->
            <form th:action="@{/paymentNotifications/addNew}" th:object="${paymentNotification}" method="post" spellcheck="false" class="register_form">
                <h3 class="form_header">Payment Notification hinzufügen</h3>
                <label class="input_label">
                    <p class="label-txt">Ziel-URL (POST-Request)</p>
                    <input th:field="*{targetUrl}" type="url" class="input" placeholder="*" required>
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>
                <label class="input_label">
                    <p class="label-txt">Aktiviert für</p>
                    <select id="paymentDirSelect" class="input selectpicker" title="Bitte wählen" data-style="option-picker" data-width="100%" multiple>
                        <option class="option-picker" value="Incoming">Eingehende Zahlungen</option>
                        <option class="option-picker" value="Outgoing">Ausgehende Zahlungen</option>
                    </select>
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>
                <input id="inputForIncomingPayments" th:field="*{forIncomingPayments}" type="hidden" value="false">
                <input id="inputForOutgoingPayments" th:field="*{forOutgoingPayments}" type="hidden" value="false">
                <div class="d-flex justify-content-center mt-3 login_container">
                    <button type="Submit" name="Submit" class="btn submit_button">Speichern</button>
                </div>
            </form>
            <!--/*@thymesVar id="successMessage" type="de.oth.PayPaul.ui.model.CustomResponse"*/-->
            <!--/*@thymesVar id="errorMessage" type="de.oth.PayPaul.ui.model.CustomResponse"*/-->
            <div th:if="${successMessage != null || errorMessage != null}" aria-live="polite" aria-atomic="true">
                <div class="toast" th:classappend="${successMessage != null} ? 'toast-success' : 'toast-error'">
                    <div class="toast-header">
                        <i class="fas" th:classappend="${successMessage != null} ? 'fa-check-circle' : 'fa-exclamation-circle'"></i>
                        <strong th:text="${successMessage != null} ? ${successMessage.headline} : ${errorMessage.headline}" class="mr-auto"></strong>
                        <button type="button" class="toast-button close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:text="${successMessage != null} ? ${successMessage.detailText} : ${errorMessage.detailText}" class="toast-body"></div>
                </div>
            </div>
        </div>
    </body>
</html>