<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8">
    <title>PayPaul | Zahlungsmethode hinzufügen</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap2-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/newPaymentMethod.css}">

    <script type="text/javascript" th:src="@{/js/newPaymentMethod.js}"></script>
    <script type="text/javascript" th:src="@{/js/toast.js}"></script>
</head>
    <body>
        <div class="sidenav">
            <div class="brand-logo-container">
                <img src="../static/img/PayPaulLogo.jpg" th:src="@{/img/PayPaulLogo.jpg}" class="brand-logo" alt="Logo">
            </div>
            <a class="menu-link" th:href="@{/transactions}">Transaktionen</a>
            <a class="menu-link active-view" th:href="@{/paymentMethods}">Zahlungsmethoden</a>
            <a class="menu-link" th:href="@{/paymentNotifications}">Payment Notifications</a>
            <a class="menu-link" th:href="@{/sendMoney}">Geld senden</a>
            <a class="menu-link" th:href="@{/chargeCredit}">Guthaben aufladen</a>
            <p class="credit-info" th:text="'Guthaben: ' + ${credit} + '€'"></p>
            <a th:href="@{/logout}" class="logout-link menu-link">Ausloggen</a>
        </div>
        <div class="main-content">
            <div class="register-form">
                <h3 class="form-header" onclick="openNav()">Zahlungsmethode hinzufügen</h3>
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-pane-bankAccount" data-toggle="tab" href="#pane-bankAccount" role="tab" aria-controls="pane-bankAccount" aria-selected="true">Bankkonto</a>
                        <a class="nav-item nav-link" id="nav-pane-creditCard" data-toggle="tab" href="#pane-creditCard" role="tab" aria-controls="pane-creditCard" aria-selected="false">Kreditkarte</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="pane-bankAccount" role="tabpanel" aria-labelledby="nav-pane-bankAccount">
                        <!--/*@thymesVar id="bankAccount" type="de.oth.PayPaul.persistence.model.BankAccount"*/-->
                        <form id="bankAccountForm" th:action="@{/paymentMethods/addNewBankAccount}" th:object="${bankAccount}" method="post" spellcheck="false">
                            <label class="input-label">
                                <p class="label-txt">IBAN</p>
                                <input th:field="*{IBAN}" name="IBAN" type="text" class="input" placeholder="*" required>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">BIC</p>
                                <input th:field="*{BIC}" name="BIC" type="text" class="input" placeholder="*" required>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Kontoinhaber</p>
                                <input th:field="*{accountOwner}" name="accountOwner" type="text" class="input" placeholder="*">
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Gültig bis</p>
                                <input th:field="*{expiryDate}" name="bankAccount.expiryDate" type="date" class="input" placeholder="*" required>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Limit pro Transaktion (in €)</p>
                                <input th:field="*{payLimit}" name="bankAccount.payLimit" type="number" class="input" placeholder="(optional)">
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pane-creditCard" role="tabpanel" aria-labelledby="nav-pane-creditCard">
                        <!--/*@thymesVar id="creditCard" type="de.oth.PayPaul.persistence.model.CreditCard"*/-->
                        <form id="creditCardForm" th:action="@{/paymentMethods/addNewCreditCard}" th:object="${creditCard}" method="post" spellcheck="false">
                            <label class="input-label">
                                <p class="label-txt">Kreditkartennummmer</p>
                                <input th:field="*{cardNumber}" name="cardNumber" type="number" class="input" placeholder="*" required>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Kreditkartentyp</p>
                                <select th:field="*{cardType}" name="cardType" class="input" required>
                                    <option value="" disabled selected>Bitte wählen</option>
                                    <option value = "Mastercard">Mastercard</option>
                                    <option value = "Visa">Visa</option>
                                    <option value = "American Express">American Express</option>
                                    <option value = "Discover">Discover</option>
                                </select>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Prüfnummer</p>
                                <input th:field="*{checkNumber}" name="checkNumber" type="number" class="input" placeholder="*" required>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Gültig bis</p>
                                <input th:field="*{expiryDate}" name="creditCard.expiryDate" type="date" class="input" placeholder="*" required>
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                            <label class="input-label">
                                <p class="label-txt">Limit pro Transaktion (in €)</p>
                                <input th:field="*{payLimit}" name="creditCard.payLimit" type="number" class="input" placeholder="(optional)">
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3 login-container">
                    <button type="button" name="button" class="btn submit-button">Speichern</button>
                </div>
            </div>
            <!--/*@thymesVar id="successMessage" type="de.oth.PayPaul.ui.model.CustomResponse"*/-->
            <!--/*@thymesVar id="errorMessage" type="de.oth.PayPaul.ui.model.CustomResponse"*/-->
            <div th:if="${successMessage != null || errorMessage != null}" aria-live="polite" aria-atomic="true">
                <div class="toast" th:classappend="${successMessage != null} ? 'toast-success' : 'toast-error'">
                    <div class="toast-header">
                        <i class="fas" th:classappend="${successMessage != null} ? 'fa-check-circle' : 'fa-exclamation-circle'"></i>
                        <strong th:text="${successMessage != null} ? ${successMessage.headline} : ${errorMessage.headline}" class="mr-auto"></strong>
                        <button type="button" class="toast-button close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:text="${successMessage != null} ? ${successMessage.detailText} : ${errorMessage.detailText}" class="toast-body"></div>
                </div>
            </div>
        </div>
    </body>
</html>