<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayPaul | Meine Zahlungsmethoden</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/paymentMethods.css}">
    <script type="text/javascript" th:src="@{/js/toast.js}"></script>
    <script type="text/javascript" th:src="@{/js/paymentMethods.js}"></script>
</head>
<body>
    <div class="sidenav">
        <div class="brand_logo_container">
            <img src="../static/img/PayPaulLogo.jpg" th:src="@{/img/PayPaulLogo.jpg}" class="brand_logo" alt="Logo">
        </div>
        <a class="menu-link" th:href="@{/transactions}">Transaktionen</a>
        <a class="menu-link active-view" th:href="@{/paymentMethods}">Zahlungsmethoden</a>
        <a class="menu-link" th:href="@{/paymentNotifications}">Payment Notifications</a>
        <a class="menu-link" th:href="@{/sendMoney}">Geld senden</a>
        <a class="menu-link" th:href="@{/chargeCredit}">Guthaben aufladen</a>
        <p class="credit-info" th:text="'Guthaben: ' + ${credit} + '€'"></p>
        <a th:href="@{/logout}" class="logout-link menu-link">Ausloggen</a>
    </div>
    <div class="main-content">
        <div class="outer-container">
            <div class="table-container">
                <div class="header-container">
                    <h3 class="form_header">
                        <div class="header-text">Meine Zahlungsmethoden</div>
                        <button onclick="window.location.href='/paymentMethods/addNew'" class="add-button"><i class="fas fa-plus"></i> Hinzufügen</button>
                    </h3>
                </div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Typ</th>
                            <th scope="col">Info</th>
                            <th scope="col">Limit</th>
                            <th scope="col">Aktiv</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bankAccount : ${bankAccounts}">
                            <td>Bankkonto</td>
                            <td th:text="${bankAccount.IBAN}"></td>
                            <td th:text="${bankAccount.payLimit != null} ? ${bankAccount.payLimit} + '€' : '-'"></td>
                            <td class="material-switch pull-right">
                                <input th:id="'active-switch-'+${bankAccount.id}" th:name="'active-switch-'+${bankAccount.id}" th:checked="${bankAccount.active}" type="checkbox"/>
                                <label th:for="'active-switch-'+${bankAccount.id}" class="label-default"></label>
                            </td>
                        </tr>
                        <tr th:each="creditCard : ${creditCards}">
                            <td>Kreditkarte</td>
                            <td th:text="${creditCard.cardNumber}"></td>
                            <td th:text="${creditCard.payLimit != null} ? ${creditCard.payLimit} + '€' : '-'"></td>
                            <td class="material-switch pull-right">
                                <input th:id="'active-switch-'+${creditCard.id}" th:name="'active-switch-'+${creditCard.id}" th:checked="${creditCard.active}" type="checkbox"/>
                                <label th:for="'active-switch-'+${creditCard.id}" class="label-default"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/*@thymesVar id="successMessage" type="de.oth.PayPaul.ui.model.CustomResponse"*/-->
        <!--/*@thymesVar id="errorMessage" type="de.oth.PayPaul.ui.model.CustomResponse"*/-->
        <div th:if="${successMessage != null || errorMessage != null}" aria-live="polite" aria-atomic="true">
            <div class="toast" th:classappend="${successMessage != null} ? 'toast-success' : 'toast-error'">
                <div class="toast-header">
                    <i class="fas" th:classappend="${successMessage != null} ? 'fa-check-circle' : 'fa-exclamation-circle'"></i>
                    <strong th:text="${successMessage != null} ? ${successMessage.headline} : ${errorMessage.headline}" class="mr-auto"></strong>
                    <button type="button" class="toast-button close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:text="${successMessage != null} ? ${successMessage.detailText} : ${errorMessage.detailText}" class="toast-body"></div>
            </div>
        </div>
    </div>
</body>
</html>