<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayPaul | Meine Zahlungsmethoden</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/paymentMethods.css}">
</head>
<body>
    <div class="outer-container">
        <div class="table-container">
            <h3 class="form_header">Meine Zahlungsmethoden</h3>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Typ</th>
                        <th scope="col">Info</th>
                        <th scope="col">Limit</th>
                        <th scope="col">Aktiv</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bankAccount : ${bankAccounts}">
                        <td>Bankkonto</td>
                        <td th:text="${bankAccount.IBAN}"></td>
                        <td th:text="${bankAccount.payLimit} + '€'"></td>
                        <td>
                            <div th:switch="${bankAccount.active}" class="material-switch pull-right">
                                <input th:case="${true}" th:id="'someSwitchOptionDefault' + ${bankAccount.id}" name="someSwitchOption001" type="checkbox"/>
                                <label th:case="${true}" th:for="'someSwitchOptionDefault' + ${bankAccount.id}" class="label-default"></label>
                                <input th:case="${false}" th:id="'someSwitchOptionDefault' + ${bankAccount.id}" name="someSwitchOption001" type="checkbox"/>
                                <label th:case="${false}" th:for="'someSwitchOptionDefault' + ${bankAccount.id}" class="label-default"></label>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="creditCard : ${creditCards}">
                        <td>Kreditkarte</td>
                        <td th:text="${creditCard.cardNumber}"></td>
                        <td th:text="${creditCard.payLimit} + '€'"></td>
                        <td>
                            <div th:switch="${creditCard.active}" class="material-switch pull-right">
                                <input th:case="${true}" th:id="'someSwitchOptionDefault' + ${creditCard.id}" name="someSwitchOption001" type="checkbox"/>
                                <label th:case="${true}" th:for="'someSwitchOptionDefault' + ${creditCard.id}" class="label-default"></label>
                                <input th:case="${false}" th:id="'someSwitchOptionDefault' + ${creditCard.id}" name="someSwitchOption001" type="checkbox"/>
                                <label th:case="${false}" th:for="'someSwitchOptionDefault' + ${creditCard.id}" class="label-default"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>