<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>PayPaul | Registrierung</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/register.css}">

    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
    <body>
        <!--/*@thymesVar id="account" type="de.oth.PayPaul.persistence.model.Account"*/-->
        <form th:action="@{/register}" th:object="${account}" method="post" spellcheck="false" class="register_form">
            <h3 class="form_header">Registrieren</h3>
            <label class="input_label">
                <p class="label-txt">Email</p>
                <input th:field="*{email}" type="email" class="input" placeholder="*" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Vorname</p>
                <input th:field="*{firstName}" type="text" class="input" placeholder="*" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Nachname</p>
                <input th:field="*{lastName}" type="text" class="input" placeholder="*" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Passwort</p>
                <input th:field="*{passwordHash}" type="password" class="input" placeholder="*" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Passwort bestätigen</p>
                <input type="password" class="input" placeholder="*" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <div class="d-flex justify-content-center mt-3 login_container">
                <button type="Submit" name="Submit" class="btn submit_button">Bestätigen</button>
            </div>
        </form>
    </body>
</html>