<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>PayPaul | Geld senden</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/sendMoney.css}">

    <script type="text/javascript" th:src="@{/js/sendMoney.js}"></script>
</head>
    <body>
        <form spellcheck="false" class="register_form">
            <h3 class="form_header">Geld senden</h3>
            <label class="input_label">
                <p class="label-txt">Verwende Zahlungsmethode</p>
                <select class="input">
                    <option value="" disabled selected>Bitte wählen</option>
                    <option value = "Mastercard">Mastercard</option>
                    <option value = "Visa">Visa</option>
                    <option value = "American Express">American Express</option>
                    <option value = "Discover">Discover</option>
                </select>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Empfänger (Emailaddresse)</p>
                <input type="text" class="input" placeholder="*">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Menge (in €)</p>
                <input type="number" class="input" placeholder="*">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="input_label">
                <p class="label-txt">Zahlungsreferenz</p>
                <input type="text" class="input" placeholder="(optional)">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <div class="d-flex justify-content-center mt-3 login_container">
                <button type="button" name="button" class="btn submit_button">Absenden</button>
            </div>
        </form>
    </body>
</html>